// Custom styles.
@media screen and (min-width:1200px) {
    body {
        background:url(https://source.unsplash.com/random/3840x2160);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position:30% 70%;
    }

    .main-inner { 
        margin-top: 60px;
        padding: 60px 60px 60px 60px;
        background: #fff;
        opacity: 0.9;
        min-height: 500px;
    }
}

#instantClick {
    display: none;
}

@keyframes heartAnimate {
    0%, 100%{transform:scale(1);}
    10%, 30%{transform:scale(0.9);}
    20%, 40%, 60%, 80% {transform:scale(1.1);}
    50%, 70%{transform:scale(1.1);}
}

#heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}

.with-love {
    color: rgb(255, 113, 168)
}