// Custom styles.
@media screen and (min-width:1200px) {
    body {
        background:url(https://source.unsplash.com/random/3840x2160);
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position:30% 70%;
    }

    .main-inner { 
        margin-top: 60px;
        padding: 60px 60px 60px 60px;
        background: #fff;
        opacity: 0.9;
        min-height: 500px;
    }
}

.post {
   margin-top: 0px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}

.post-body p a{
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #5093d3;
  &:hover {
    color: #fc6432;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}